.contenedor {
  display: flex;
  justify-content: center;
  bottom: 0;
  right: 0;
  height: 70px;
  width: 1000px;
  position: fixed;

  margin-bottom: 10%;
  margin-right: 20%;
}

.contenedor h1 {
  color: white;
  font-size: 60px;
}
